/* your styles go here */

#leftbar {
    background-color: #38495c;
}

.circle {
    background-color: lightgreen;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.left-rollbacks {
    color: red;
    background: pink;
}